**/helicopter_quarc_win64/**
Task2/helicopter_exercise2_quarc_win64/**
Task3/helicopter_exercise3_quarc_win64/**
Task4/helicopter_exercise4_quarc_win64/**
**/slprj/**
**/*.slxc
**/*.rt-win64
**/*.asv
subprojects/**